<html>
<head>
  <title>Rails Shopping App</title>

  <!-- Normalize HTML5 Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

  <!-- styles.css Link -->
  <link rel="stylesheet" href="sass/styles.css">
  <link rel="stylesheet" href="animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">    <!-- Responsive Shizz -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
</head>

<body class="opac" >



<div class="slick-codepen">

  <img src ="https://images-na.ssl-images-amazon.com/images/G/01/dex/CFS/vxd-1055_ACQ_DLS_GW_Hero_v4_3000x600._CB530537227_.jpg">
  <img src ="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2017/DOT/GW/multiPackUpdate/GW_3PK_DOT_3000x600_042017._CB529221208_.jpg">
  <img src ="https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/gallery1/iphone7-gallery1-201703?wid=2136&hei=1286&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1489093012289">
  <img src ="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/merch/2017/Other/PrimeUpsell/Phase5/Amazon_GW_DesktopHero_PrimeUpsell5-Lifestyle-KOTH_3000x600._CB530180605_.jpg">

</div>
<div class="nav">
  <div class ="wrapper">
    <a href = "#">Popular</a>
    <a href = "#">Recent</a>
    <label for="search">Search</label>
    <input id="search" type="search" placeholder="iphone 6+ ">
  </div>
</div>


<ul class="resources">
  <% 8.times do |i| %>

<li>
    <img height="250" src = "https://cdn2.tnwcdn.com/wp-content/blogs.dir/1/files/2016/02/AMAZON-1200x537.png">
    <div class="resource_info">
      <h2>Example Resource</h2>
      <p class="price">$22</p>
      <%= form_tag charges_path, id:'chargeForm' do %>

          <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
          <% end %>

          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'amount', '$23'%>
          <%= hidden_field_tag 'stripeEmail' %>
          <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Buy this!</button>
          <script>
              var handler = StripeCheckout.configure({
                  key: 'pk_test_RNgNHbBV8hZuNpX8LSjS2H2y',
                  token: function(token, arg) {
                      document.getElementById("stripeToken").value = token.id;
                      document.getElementById("stripeEmail").value = token.email;
                      document.getElementById("chargeForm").submit();
                  }
              });
              document.getElementById('btn-buy').addEventListener('click', function(e) {
                  handler.open({
                      name: 'Learn Rails',
                      description: 'an new',
                      amount: document.getElementById("amount").value
                  });
                  e.preventDefault();
              })
          </script>
      <% end %>
    </div>
  </li>
      <% end %>
</ul>
</body>
</html>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

<script>

    $('.slick-codepen').slick({
        infinite: true,
        speed: 600,
        slidesToShow: 1,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 900
    });

    $(".slick-next").hide();
    $(".slick-prev").hide();

    $(".slick-slide").css("height","300px");




</script>